/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Убираем внутренние отступы */
ul[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
  }

/*-------------------------------------------------*/
.btn:hover {
  cursor: pointer;
}

.nav-menu {
    display: flex;
    height: 80px;
    left: 0%;
    right: 0%;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(1, 58, 76, 0.2);
    border-radius: 0px;
}

.logo-icon {
margin-left: 50px;
margin-top: 30px;
transform: translateY(-25%);
}

.main-nav {
  display: inline-block;
  margin: 0 0 0 auto;
  
}
.list-item {
    display: inline-block;
    margin-top: 30px;
    margin-left: 32px;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #013A4C;
    justify-content: space-between;
}

.list-item a {
    text-decoration: none;
    color: #013A4C;
}
.why-oneflow, .learn  {
  margin-right: 30px;
}

.nav-menu .buttons {
  margin-top: 30px;
  margin-left: 48px;
  margin-right: 50px;
  transform: translateY(-25%);
}

.nav-menu .buttons .btn {
    height: 40px;
    left: 0%;
    right: 0%;
    top: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 17px 11px 17px;
}

.nav-menu .buttons .get-demo {
  background: #FFD063;
  border: 1px solid #FFD063;
  width: 114;
  height: 40px;
}

.nav-menu .buttons .log-in{
  background: #FFFFFF;
  border: 1px solid #346170;
}

.nav-menu .icon{
  display: flex;
  margin-top: 30px;
  margin-right: 30px;
}

.title-wrapper {
  background-image: url(/src/img/hero-main.png);
  background-size: cover;
  height: 950px;

}

.main-title {
  padding-top: 210px;
  padding-left: 145px;
}

.title-wrapper .main-title h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 78px;
  letter-spacing: 2px;
  color: #013A4C;
}

.title-wrapper .main-title p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: #013A4C;
  margin-top: 30px;
}

.title-wrapper .buttons {
  margin-left: 145px;
}

.title-wrapper .buttons .btn {
  height: 50px;
  padding: 15px 21px 15px 21px;
  margin-top: 15px;
  font-size: 16px;
}

.title-wrapper .buttons .get-oneflow-free {
  background: #FFD063;
  border: 1px solid #FFD063;
  box-sizing: border-box;
  border-radius: 4px;
}

.title-wrapper .buttons .take-a-tour {
  color: #FFFFFF;
  background: #013A4C;
  border: 1px solid #013A4C;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
}

.wrapper-partners {
  background-color: #013A4C;
}

.wrapper-partners .partners {
  padding-top: 80px;
  background-color: #013A4C;
}

.wrapper-partners .partners h3 {
  font-family: sans-serif Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.wrapper-partners .partners .partners-logo-list{
  display: flex;
  text-align: center;
  justify-content:center;
}
.wrapper-partners .partners .partners-logo-list img{
  display: inline-block;
  margin-right: 30px;
}

.wrapper-signature {
  background-color: #013A4C;
  display: flex;
  justify-content: space-around;
}

.wrapper-signature .signature {
  background-color: #013A4C;
  margin-left: 144px;
  padding-top: 110px;
}

.wrapper-signature .signature h3 {
  font-family: sans-serif Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.wrapper-signature .signature p {
  font-family: sans-serif Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  color: #FFFFFF;
}

.wrapper-signature .wrapper-img {
  display: flex;
  background-color: #013A4C;
  margin-right: 157px;
}


.wrapper-signature .signature .product-tour {
  background: #FFD063;
  border: 1px solid #FFD063;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 20px;
}

.wrapper-signature .signature .product-tour:hover{
  background: #ecd8a7;
  border: 1px solid red;
}

.wrapper-board{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #013A4C;
}

.wrapper-board .board {
  margin-top: 100px;
  margin-bottom: 120px;
  width: 1150px;
  height: 600px;
  border-radius: 8px;
  background-color: #D3E8F4;
}

.icons {
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
  text-align: center;
}

.icon{
  text-align: center;
}

.icon:first-child {
  margin-left: 96px;
}

.icon:last-child {
  margin-right: 96px;
}

.icons .icon img {
  margin-bottom: 7px;
}

.icons .icon .wrap-img {
  display: flex;
  text-align: center;
  justify-content: center;
}

.wrapper-board .icons-line hr{
  border:solid 1px #94B4C2;
  margin-top: 34px;
}

.wrapper-board .board .descr{
  display: flex;
  justify-content: space-between;
}

.wrapper-board .board .descr .wrapper-descr {
  float: left;
  margin-left: 64px;
  margin-top: 37px;
}

.wrapper-board .board .descr .wrapper-descr h3 {
  display: flex;
  justify-content: start;
  font-family: sans-serif Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 0.7px;
  color: #013A4C;
}

.wrapper-board .board .descr .wrapper-descr p {
  display: block;
  font-family: sans-serif Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  color: #013A4C;
}
.wrapper-board .board .descr .wrapper-descr .btn-wrapper{
  display: flex;
  justify-content: start;
}
.wrapper-board .board .descr .wrapper-descr button {
  background: #D3E8F4;
  border: 1px solid #346170;
  border-radius: 4px;
  padding: 11px 17px 11px 17px;
  font-family: sans-serif Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.wrapper-board .board .descr .wrapper-descr .list-items {
  list-style-type: none;
  margin-top: 56px;
  margin-bottom: 44px;
}

.wrapper-board .board .descr .wrapper-descr .list-items .item {
  display: flex;
  margin-bottom: 8px;
  text-align: center;
  font-family: sans-serif Work Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #013A4C;
}

.wrapper-board .board .descr .wrapper-descr .list-items img {
  display: inline-block;
  margin-right: 8px;
}


